en/about.aux
en/about.log
en/algo.aux
en/algo.log
en/circuit.aux
en/circuit.log
en/comp.aux
en/comp.log
en/dhadak_en.aux
en/dhadak_en.log
en/dhadak_en.out
en/dhadak_en.synctex.gz
en/dhadak_en.toc
en/enc.aux
en/enc.log
en/intro.aux
en/intro.log
en/missfont.log

hi/about.aux
hi/about.log
hi/algo.aux
hi/algo.log
hi/circuit.aux
hi/circuit.log
hi/comp.aux
hi/comp.log
hi/dhadak_hi.aux
hi/dhadak_hi.log
hi/dhadak_hi.out
hi/dhadak_hi.synctex.gz
hi/dhadak_hi.toc
hi/enc.aux
hi/intro.aux
hi/intro.log
hi/missfont.log
